<%= form_with(model: prestamo, local: true) do |form| %>
  <% if prestamo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prestamo.errors.count, "error") %> prohibited this prestamo from being saved:</h2>

      <ul>
        <% prestamo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.number_field :estado %>
  </div>

  <div class="field">
    <%= form.label :usuarios %>
    <%= form.text_field :usuarios %>
    <%= options_from_collection_for_select(prestamo.usuarios.all, :id, :nombres) %>

  </div>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
