<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @prestamo.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @prestamo.estado %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @prestamo.usuarios %>
</p>

<p>
  <strong>References:</strong>
  <%= @prestamo.references %>
</p>

<%= link_to 'Edit', edit_prestamo_path(@prestamo) %> |
<%= link_to 'Back', prestamos_path %>
